.Sidebar{
    height: 100vh;
    width: 250px;
    background-color: white;
    padding: 30px 30px;
    position: fixed;
  }
  ul {
    list-style: none;
    }
.a-titleƠ{
    text-decoration: none;
}
    .logo{
        display: flex;
    }
    .link{
        text-decoration: none;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
    }
   
    .NFT{
        margin-left: 20px;
    }
    .market{
        font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
/* identical to box height */

    font-feature-settings: 'salt' on;

    color: #7A797D;
    }

    .side{
        display: flex;
        padding: 15px 0px;
        margin-left: -35px;
    }
    .icon{
        margin-right: 20px;
    }
    .balance{
    width: 228px;
    height: 220px;
    left: 32px;
    top: 772px;

/* Color/linier */

    background: linear-gradient(228.89deg, #5429FF 1.12%, #BBAAFF 100%);
    border-radius: 16px;
    }
    .yourBalance{
        text-align: center;
        padding: 25px;
        font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height */



color: #E0DEE6;
    }
    .number{
        text-align:center ;
        padding-bottom: 25px;
        font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 39px;
/* identical to box height */


/* Color/white */

color: #FFFFFF;
    }
    .ETH{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height */


/* Color/white */

color: #FFFFFF;

    }
    .upBalance{
        width: 196px;
height: 49px;
left: 16px;
top: 155px;

background: #FFFFFF;
border-radius: 12px;
border: 1px solid transparent;
margin: 0 auto;
display: flex;
justify-content: space-around;
    }

    .eth1{
        margin-left: 10px;
    }
    .fram14{
        margin-top: 10px;
    }
    .topup{
        margin-top: 10px;
    }.vector{
        margin-top: 10px;
    }